{
	"presets": [["@babel/typescript", { "jsxPragma": "h" }]],
	"plugins": [
		["@babel/transform-react-jsx", { "pragma": "h" }],
		"babel-plugin-styled-components",
		"istanbul",
		"@babel/plugin-proposal-optional-chaining"
	]
}
