.toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	height: var(--header-height);
	padding: 0;
	gap: 2px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: var(--header-height);
	padding: 0;
	margin: 0;
	border-radius: 0;

	&:first-of-type {
		:global(button) {
			border-top-left-radius: var(--button-border-radius);
			border-bottom-left-radius: var(--button-border-radius);
		}
	}

	&:last-child {
		:global(button) {
			border-top-right-radius: var(--button-border-radius);
			border-bottom-right-radius: var(--button-border-radius);
		}
	}
}
