button[data-tooltip] {
  position: relative;

  &::after {
    background-color: hsl(0, 0%, 16%);
    color: #ffffff;
    display: none;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    z-index: 999;
    border-radius: 1rem;
    padding: 2px 1rem;
    text-align: center;
    content: attr(data-tooltip);
    transform: translate(-50%, calc(100% + 0.5rem));
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 128ms ease-in-out;
  }

  &:hover {
    &::after {
      display: block;
      opacity: 1;
    }
  }
}
